@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
#hero{
    background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%),
    url(assets/hero-bg.png);
    height: 919px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#hero .hero-content{
    width: 1023px;
    height: 509px;
}
#hero .subtitle{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 132px;
}
#hero .title{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
}
#hero .description{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
    margin-top: 24px;
}
.btn-container{
    text-align: center;
}
.btn{
    padding: 21px 32px 21px 32px;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    margin-top: 32px;
}


/* Card Box */
#card-box{
    width: 1320px;
    margin: 100px auto;
}
#card-box .title-and-subtitle{
    width: 691px;
    margin: 0 auto;
}
#card-box .title{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.5;
    margin-bottom: 16px;
}
#card-box .subtitle{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}
#card-box .card{
    width: 424px;
    height: 283px;
    margin: 12px;
}
#card-box .card .img-box{
    width: 424px;
    height: 283px;
}
#card-box .card .img-box img{
    width: 424px;
    height: 283px;
}
#card-box .card .shop{
    width: 187px;
    text-align: center;
    padding: 14px 32px 14px 32px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
    margin: 46px auto 0;
}
#card-box .card .discount{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0;
}
#card-box .card .product-info{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}
.card-container{
    display: flex;
}
#card-box .btn-container{
    padding-top: 300px;
}

#about-us{
    display: flex;
    align-items: center;
    justify-content: center;
}
#about-us .img img{
    width: 960px;
    height: 671px;
}
#about-us .description .title{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}
#about-us .description .subtitle{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
}
#about-us .description .follow{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    padding: 30px 10px 30px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(16, 16, 16, 0.2);
    border-top: 1px solid rgba(16, 16, 16, 0.2);
    margin-top: 48px;
}
.icon{
    text-align: center;
    margin-top: 32px;
    /* background-color: rgb(255, 255, 255); */
    z-index: 1;
}
.icon i{
    font-size: 30px;
    padding: 5px;
    color: red;
}
.icon .fa-facebook{
    color: rgb(36, 91, 243);
}
.icon .fa-x-twitter{
    color: #000000;
}

/* Social Section */
#social-area{
    background-image: url(assets/social-bg.png);
    height: 671px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}
#social-area::after{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.8;
}
#social-area .social-content{
    position: absolute;
    width: 830px;
    height: 400px;
    margin: 0 auto;
    z-index: 1;
    text-align: center;
}
#social-area .title{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    margin-bottom: 24px;
}
#social-area .subtitle{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    opacity: 0.6;
}
#social-area .follow{
    width: 1320px;
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    z-index: 1;
    padding: 30px 10px 30px 10px;
    margin-top: 200px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(16, 16, 16, 0.2);
    border-top: 1px solid rgba(16, 16, 16, 0.2);
}